/* 

font url :

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;500;700&display=swap'); 

font-family style: 
    font-family: 'Inter', sans-serif;

    font-family: 'Poppins', sans-serif;

*/
body {
  background: #e9e9e9;

  margin: 0 auto;
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;500;700&display=swap");
}

/* navigation started  */

.container {
  width: 80%;
  padding: 30px;
  margin: 0 auto;
  display: flex;
}
a,
a:hover {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
}
.companyname {
  font-family: Poppins;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
}
.links a {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100px;
  color: #3a3a3a;
  margin-right: 30px;
  transition: 1s ease-in-out;
}
.links a:hover {
  color: rgb(122, 194, 194);
  font-size: 30px;
  transition: 1s ease-in-out;
}
/* navigation end here  */

/* intro part started here  */

.intro {
  width: 50%;
}
h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  color: #3a3a3a;
  margin-top: 100px;
}
.intropara {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin-bottom: 30px;
}
.intro a {
  background-color: #e02c6d;
  border-radius: 30px;
  padding: 10px 30px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.intro i {
  margin-left: 10px;
}
.intro-pic {
  border: 0.5px solid rgba(119, 136, 153, 0.226);
  border-radius: 50%;
  margin-left: 70px;
  margin-bottom: 70px;
}

/* intro part end here  */

/* logo part start here  */

.logos {
  border-top: 0.5px solid rgba(119, 136, 153, 0.226);
  border-bottom: 0.5px solid rgba(119, 136, 153, 0.226);
  padding-left: 170px;
  margin-bottom: 120px;
}
.logos img {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 70px;
}

/* logo part end  */

/* popular upload part start  */
.popularhead h2 {
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  color: #3a3a3a;
}
.popurlar_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.details {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: ;
  margin-left: 10px;
  box-shadow: 5px 5px 5px rgb(172, 159, 159);
}
h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
}
h4 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.fa-star {
  font-size: 15px;
  color: rgb(214, 214, 18);
}
span {
  margin-left: 15px;
  font-family: inter, sans-serif;
  font-weight: bold;
  color: #5e6366;
}
.detail_para {
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #787885;
}
.see_more_anchor {
  text-align: end;
  padding-right: 150px;
}
.see_more_anchor a {
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  color: rgba(224, 44, 109, 0.87);
}
/* popular upload part end  */

/* form part start  */

.form_heading {
  text-align: center;
}
form {
  text-align: center;
}
input {
  padding: 15px 40px;
  border-radius: 30px;
  background-color: rgb(194, 165, 165);
  margin-right: 50px;
  margin-bottom: 30px;
  border: none;
}
.fa-user {
  font-size: 30px;
  margin-right: 20px;
}
.fa-key {
  font-size: 30px;
  margin-right: 20px;
}
button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 148, 86);
  margin-bottom: 100px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
/* form part end  */
/* footer part start  */
footer {
  text-align: center;
  background-color: rgb(17, 2, 85);
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer h2 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 24px;
}
footer p {
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}
footer i {
  font-size: 30px;
  color: #fff;
  margin-left: 30px;
  background-color: rgb(161, 123, 123);
  padding: 10px;
  border-radius: 50%;
  margin-top: 15px;
}
/* footer part end  */
